<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Flask</title>
 
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <!-- 1. Load libraries -->

        <script type="text/javascript" src="jquery/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>

        <script src="es6-shim/es6-shim.min.js"></script>
        <script src="systemjs/dist/system-polyfills.js"></script>

        <script src="angular2/bundles/angular2-polyfills.js"></script>
        <script src="systemjs/dist/system.src.js"></script>
        <script src="rxjs/bundles/Rx.js"></script>
        <script src="angular2/bundles/angular2.dev.js"></script>
        <script src="angular2/bundles/router.dev.js"></script>
        <script src="angular2/bundles/http.dev.js"></script>

          <script>
            System.config({
              "defaultJSExtensions": true,
              packages: {
                rxjs: { defaultExtension: 'js' },
                app: {
                  format: 'register',
                  defaultExtension: 'js'
                }
              },
              map: {
                'angular2': 'angular2',
                'rxjs': 'rxjs'
              }
            });
            System.import('typescript/boot')
                  .then(null, console.error.bind(console));
          </script>
    </head>
    <body>
      <my-app>Loading...</my-app>
    </body>
</html>
