<div class="centered">

<h1>Title 1</h1>

 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>First Comment Title or Author</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
 </div>

 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>Another One</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
  </div>

<h1>Title 2</h1>

 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>Another One</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
  </div>

 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>Another One</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
  </div>



 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>Another One</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
  </div>



 <div class="member">
   <div class="member-image">
     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
   </div>
   <div class="member-content">
     <h1>Another One</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
     <p class="member-detail">Date or details about this post</p>
   </div>
  </div>
 </div>